<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
  <img src="../../../assets/fotos proyecto/2000.jpg"  alt=""
    class="img-fluid" id="fotodeperfil" >
</div> 

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <p id="nombre">Chiappe Camila Rocio</p>
  <p>Full Stack Developer Jr</p>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1>Acerca De Mi</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Sed fugit eligendi explicabo est
       labore aspernatur voluptas delectus
       voluptate excepturi dolores error doloribus 
       iusto laborum velit repellendus quos,
       numquam architecto animi!</p>
  </span>

</div>

</div>
