<div class="row">
    <h1>Hard y Softt skills</h1>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../../../assets/fotos proyecto/html.svg'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
         </div>
       
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../../../assets/fotos proyecto/css2.svg'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
         </div>

      <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../../../assets/fotos proyecto/Js.svg'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'purple'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
         </div>

      <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="50"
                [radius]="100"
                [imageSrc]="'../../../assets/fotos proyecto/Git.png'"
                [showImage]="true"
                [imageHeight]="110"
                [imageWidth]="110"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'purple'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
         </div>

      <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="0"
                    [radius]="100"
                    [imageSrc]="'../../../assets/fotos proyecto/ENG.png'"
                    [showImage]="true"
                    [imageHeight]="110"
                    [imageWidth]="110"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'purple'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
         </div>

      <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                        [percent]="100"
                        [radius]="100"
                        [imageSrc]="'../../../assets/fotos proyecto/COL.png'"
                        [showImage]="true"
                        [imageHeight]="110"
                        [imageWidth]="110"
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'purple'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                      ></circle-progress>
         </div> 
</div>

